@import "tailwindcss";

@font-face {
  font-family: 'Press Start 2P';
  src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-pixel {
  font-family: 'Press Start 2P', monospace;
}